.deps
.libs
Makefile
Makefile.in
_upnpp.so
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
upnpp.py
upnpp.pyc
upnpp_wrap.cxx
upnpp_wrap.lo
