.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/upnpp-python.html
install-sh
libtool
ltmain.sh
missing
python/_upnpp.la
python/upnpp.py
python/upnpp.pyc
python/upnpp_wrap.cxx
python/upnpp_wrap.lo
python/upnpp/upnpp.py
python/upnpp/upnpp.pyc
